# vim: set filetype=bash: 

# Linux specific
alias apt-get="sudo apt-get"
alias apt="apt-get"

# Exiting
alias e="exit"

# Listing files
alias ls="ls -a"

# Shortcuts to configuration
alias za="vim ~/.aliases"
alias awesome="vim ~/.config/awesome"
alias es="exec $SHELL"

# Vim
alias v="vim"
alias vi="vim"

# Shortcuts for git
alias g="git"
alias gs="git status"
alias gco="git checkout"
alias new-branch="git checkout -b"
alias delete-branch="git branch -D"
alias recent-branches="git branch --sort=-committerdate"

# Rails specific
alias be="bundle exec"

# Docker
alias dc="docker-compose"

# Folders
alias code="cd ~/Code"
